.burger {
    display: none;

    @include vp-1199 {
        display: block;
        position: relative;
        width: 24px;
        height: 22px;
        z-index: 2;
        transition: opacity 0.2s ease;

        &::before {
            position: absolute;
            content: "";
            top: 1px;
            left: 0;
            width: 25px;
            height: 3px;
            background-color: $color-default-black;
            transition: top 0.1s 0.2s ease, bottom 0.1s 0.2s ease, transform 0.1s ease;
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 25px;
            height: 3px;
            background-color: $color-default-black;
            transition: top 0.1s 0.2s ease, bottom 0.1s 0.2s ease, transform 0.1s ease;
        }
    }

    @include vp-767 {
        width: 18px;
        height: 16px;

        &::before {
            top: 0;
            width: 18px;
            height: 1.5px;
        }

        &::after {
            width: 18px;
            height: 1.5px;
        }
    }
}

.burger span {
    @include vp-1199 {
        position: absolute;
        top: 50%;
        transform: translate(6px, -50%);
        width: 13px;
        height: 3px;
        background-color: $color-default-black;
    }

    @include vp-767 {
        width: 7px;
        height: 1.5px;
    }
}

.burger.active::before {
    @include vp-1199 {
        top: 10px;
        transform: rotate(45deg);
        transition: top 0.3s ease, transform 0.3s 0.3s ease;
    }

    @include vp-767 {
        top: 4px;
    }
}

.burger.active::after {
    @include vp-1199 {
        bottom: 10px;
        transform: rotate(-45deg);
        transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
    }
}

.burger.active span {
    @include vp-1199 {
        display: none;
    }
}