// .code {

// }

.code pre code {
    background: conic-gradient(from 90deg at 1.1px 1.1px, #ffffff 25%,#444444 0);
    background-size: 22px 22px;
    display: block;
    margin: 0 auto;
}
.code pre code {

    font-size: 12px;

}