.nav-link {
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 18px;
    color: #2c2b2c;

    @include vp-1199 {
        font-size: 1rem;
        cursor: pointer;
      }
    
      @include vp-767 {
        font-size: 0.8rem;
        line-height: 14px;
      }
}
