.nav-link {
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 18px;
    color: #2c2b2c;

    @include vp-1199 {
        font-size: 1rem;
        cursor: pointer;
      }
    
      @include vp-767 {
        font-size: 0.8rem;
        line-height: 14px;
      }
}

.nav__item:hover .nav__item-link {
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #0B2349;
}

.nav__item:focus .nav__item-link::after,
.nav__item:active .nav__item-link::after {
  width: 100%;
}