.nav {
  width: 100%;
  padding: 15px 20px 15px 30px;

  p {
    display: none;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      position: relative;
      display: block;
      color: $color-default-black;
      font-weight: 600;
      font-size: 2rem;
      line-height: 18px;
    }
  }

  @include vp-767 {
    padding: 15px;

    p {
      width: 80%;
      color: $color-midnight;
      font-size: 1.2rem;
      text-align: end;
      text-transform: uppercase;
      background: $torch-red-to-cobalt;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.nav p[data-content]::before {
  @include vp-1199 {
    position: absolute;
    top: -30px;
    right: 0;
    font-weight: 500;
    font-size: 1rem;
    font-style: italic;
    line-height: 18px;
    text-transform: capitalize;
    opacity: 0.5;
    content: attr(data-content);
  }

  @include vp-767 {
    display: none;
  }
}

.nav__list-container {
  @include vp-1199 {
    position: relative;
  }
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  border: 5px solid;
  border-image: $black-to-right-without-opacity 1;
  clip-path: inset(-1px round 10px);

  @include vp-1199 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow: auto;
    background-color: $color-default-white;
    border: none;
    transform: translateX(150%);
    transition:
      transform 0.5s 0.5s ease-in-out,
      background 0.6s ease-in-out;
  }
}

.nav__list.active {
  @include vp-1199 {
    display: flex;
    flex-direction: column;
    width: 75%;
    transform: translate(0, 0);
    transition: transform 0.5s ease-in-out;
  }
}

.nav__item {
  position: relative;
  text-align: center;

  & .nav__item-link::after {
    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    margin: 2px auto 0;
    background: $torch-red-to-cobalt;
    transform: translateX(-50%);
    transition: 500ms;
    content: "";
  }
}

.nav__item-link {
  position: relative;
  margin: 0;
}

.nav__item:hover .nav__item-link {
  color: $color-midnight;
  background: $torch-red-to-cobalt;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__item:focus .nav__item-link::after,
.nav__item:active .nav__item-link::after {
  width: 100%;
}
