.work {
    padding:0 20px;
    margin-bottom: 25px;

    @include vp-1199 {
        padding: 0 15px;
    }

    @include vp-767 {
        padding: 0;
    }
}

.work p {
    font-size: 1rem;
    line-height: 20px;
    font-weight: 300;

    @include vp-767 {
        font-size: 0.8rem;
        line-height: 16px;
        padding: 0 5px;
    }
}