$color-old-lavender: #7d7b7d;
$color-midnight: #0b2349;
$color-new-midnight-blue: #0900b1;
$color-chartreuse-yellow: #edff00;
$color-nobel: #9e9e9e;
$color-black: #000;

$color-default-black: #2c2b2c;
$color-default-white: #fff;

$square-gradient: conic-gradient(from 90deg at 1.1px 1.1px, #ffffff 25%,#9e9e9e 0%);

$torch-red-to-cobalt: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%,rgba(0, 0, 0, 0.8) 40%,rgba(0, 0, 0, 0.6) 60%,rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.2) 100%);

$black-to-right-without-opacity: linear-gradient(135deg, #000, #fff);

$fz-default:                        16px;

$ff:                                "Kanit", "Arial", sans-serif;

$vp-768:                            768px;

$vp-1200:                           1200px;

$width:                              100%;

