@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/kanit-extralight.woff2") format("woff2"), url("../fonts/kanit-extralight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/kanit-light.woff2") format("woff2"), url("../fonts/kanit-light.woff")  format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kanit-regular.woff2")  format("woff2"), url("../fonts/kanit-regular.woff")  format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/kanit-medium.woff2")  format("woff2"), url("../fonts/kanit-medium.woff")  format("woff");
  font-display: swap;
}
