h1 {
    position: relative;
    font-size: 2rem;
    color: $color-default-black;
    text-align: end;
    justify-self: flex-end;
    line-height: 24px;
    font-weight: 500;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    grid-area: person;

    @include vp-1199 {
        display: none;
    }
}

h1[data-content]::before {
    position: absolute;
    content: attr(data-content);
    text-transform: capitalize;
    font-style: italic;
    top: -40px;
    right: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 55px;
    opacity: 0.5;
}

h2 {
    flex-shrink: 0;
    font-size: 2rem;
    line-height: 24px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 15px 0;
    grid-area: contacts;

    @include vp-767 {
        margin-bottom: 10px;
        width: 100%;
        padding: 0 5px;
        font-size: 1.2rem;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
    }
}