.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $width;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;

  header,
  main,
  footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  header,
  footer {
    flex-shrink: 0;
  }

  header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    margin: 0 auto;
    overflow: hidden;
  }

  main {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
