.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: $width;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;

  header,
  main,
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;

    @include vp-767 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }

  header,
  footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    margin: 0 auto;
    overflow: hidden;
  }

  main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
